
  
  
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }
  
  body {
    background-color:black;
    color: #ddd;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;
  }
  
  button {
    border: none;
    color:white;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }
  
  /* HEADER */
  
  .header {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    background-color:#283e5e;
  }
  
  .title {
    font-size: 32px;
    color:#f4ad09;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  /* MAIN */
  .main {
    margin-top: 40px;
    text-align: center;
  }

  .scoreboard {
    margin-bottom: 15px;
  }

 .score-info {
    font-size: 32px;
  } 
  
  .score-message {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .scores-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 450px;
    padding: 10px;
    margin: 0 auto;
  } 
  
  .score-box {
    width: 170px;
  }
  
  .score {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  
  .btn {
    border-radius: 10px;
    background-color:  #4a4f57;
  }
  
  .btn-square {
    width: 160px;
    height: 160px;
  }
  
  .btn:active {
    background-color:#393e46;
  }
  
  .sign {
    font-size: 80px;
    margin-bottom: 10px;
  }
  
 
  /* MODALS */
  
  .modal {
    position:relative;
    z-index: 1;
    top: 10%;
    left: 40%;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color:white;
    text-align: center;
    font-size: 30px;
     /* user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;  */
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .btn-restart {
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  
  
  
  /* MEDIA QUERIES */
  
  @media (max-width: 550px) {
    .title {
      font-size: 18px;
    }
  
    .score-info {
      font-size: 26px;
    }
  
    .buttons {
      gap: 10px;
    }
  
    .btn-square {
      width: 100px;
      height: 100px;
    }
  
    .sign {
      font-size: 50px;
    }
  
    .modal {
      width: 95%;
    }
  }
  